@model OurWork.Models.UserData

@using (Html.BeginForm((string)ViewData["FormAction"], "UserData"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.CompanyName)
                @Html.TextBoxFor(m => m.CompanyName)
            </li>            
            <li>
                @Html.LabelFor(m => m.Phone)
                @Html.TextBoxFor(m => m.Phone)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
        </ol>
        <input type="submit" value="Save" />
    </fieldset>
}