@model OurWork.Models.CreateApplianceModel
@using OurWork.Models

@{
    ViewBag.Title = "NewAppliance";
    List<SelectListItem> skills = ViewBag.Skills;
    List<SelectListItem> skillLevels = ViewBag.SkillLevels;
}

<h2>New Appliance</h2>

@using (Html.BeginForm("CreateAppliance", "Appliance"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <h3>Appliance Info</h3>
    
    <div class="form-group">
        @Html.LabelFor(m => m.ApplianceData.Name)
        @Html.TextBoxFor(m => m.ApplianceData.Name, htmlAttributes: new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.ApplianceData.Comment)
        @Html.TextAreaFor(m => m.ApplianceData.Comment, htmlAttributes: new { @class = "form-control" })
    </div>
            
    <h3>Select Abilities</h3>
    
    for (int i = 0; i < Model.ApplianceAbilities.Count; i++)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.ApplianceAbilities[i].SkillId)
            @Html.DropDownListFor(m => m.ApplianceAbilities[i].SkillId,
                skills, htmlAttributes: new { @class = "form-control" })
        </div>
    
        <div class="form-group">
            @Html.LabelFor(m => m.ApplianceAbilities[i].SkillLevelId)
            @Html.DropDownListFor(m => m.ApplianceAbilities[i].SkillLevelId,
                skillLevels, htmlAttributes: new { @class = "form-control" })
        </div>
    }         
        
    <input type="submit" value="Create" />
    
}